body {
    background-color: gray;
}

header {
    background-color: black;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
}

ul {
    padding: 5px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin: 10px;
    transition-duration: .6s;

}

button:hover {

}

button:active {
    
}

.home-section {
    background-color: gray;
    display: flex;
    align-items: center;
}

.text-container {
    /* padding: 10px 0px 10px 0px; */
    max-width: 50%;
    text-align: left;
}

h2 {
    color: white;
    font-size: 75px;
}

.intro-text {
    color: white;
    font-size: 50px;
}

.selfie {
    max-width: 50%;
    
}

/* CARP Page */

.h2-carp {
    text-align: center;
}

.poster-caption {
    border: solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.section-one {

}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.poster-image {
    width: 595px;
    height: 842px;

}

.poster-group {
    width: 595px;
}

.section-two {
    margin-top: 10px;
}

.section-three {
    margin-top: 10px;
}

/* Typography page */

.typo-image {

    width: 755px;
    width: 755px;


}

.typo-group {
    width: 755px;
}

